*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.container{
    display: flex;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
    justify-content: flex-end;
    padding-bottom: 30px;
    align-items: center;
}

.box>p{
    font-weight: bold;
    font-size: 20pt;
}